@font-face{
    font-family: "font1";
    src:url("font1.ttf");
}
@keyframes anim1{
    from{box-shadow: -2px -2px 10px -2px white;}
    20%{box-shadow: 0px 0px 15px 0px white;}
    40%{box-shadow: 2px 2px 20px 2px white;}
     60%{box-shadow: 2px 2px 20px 2px white;}
    80%{box-shadow: 0px 0px 15px 0px white;}
    to{box-shadow: -2px -2px 10px -2px white;}
}
*{
    margin: 0;
    padding: 0;
}


body{
height: 100vh;
    background-attachment: fixed;
    background-image: url(bgmain.png);
    background-repeat: no-repeat;
    background-size: cover;;
    background-position: top;
    box-shadow: inset 0px 0px 50px black, inset 0px 0px 50px black;

}
.our{

        width: 70%;
    margin: 0 auto;
    font-family: "font1";
}
.nav{
    background-color:rgba(245, 245, 220,0.2);
    position: fixed;
    width: 70%;
    border-radius: 0px 0px 50px 50px;
    animation:anim1 2s infinite linear;
    z-index: 5;
}
.logo{
    float: left;
    height: 115px;
    margin-top: -15px;
}
.intlogo:hover{
    width: 128px;
    height: 128px;
    background-image: url(icon2.png);
}
.navi1>a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 10px;

}
.navpanel{
        text-align: center;
    position: relative;

}
.navi:hover{
    color: white;
        transition: linear 0.1s;


}
.navi{
        transition: linear 0.1s;



}
.navi1{
    border: 1px solid rgba(245, 245, 220,0.3);
    border-radius: 25px;
    width: 140px;
    font-family: font1;
    text-align: center;
    background-color: rgb(155,89,182,0.1);
        transition: linear 0.1s;

}
.navi1:hover{
    color: white;
    text-shadow: 2px 2px 2px black;
    width: 160px;
    transition: linear 0.1s;
    content:"";
}

body{
    position: relative;
    height: 2000px;
}
.navi1{background:rgb(155,89,182,0.1)}
.navi1:hover {
  box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
    transition: .15s linear;
}

.mainin{
    position: absolute;
    width: 70%;
    margin-top: 10%;
    margin-left: 12%;
    width: 75%;
    height: 80%;
    border: 1px solid white;
    background-color:#eebde8;
    box-shadow: inset 0px 0px 5px 0px white,  0px 0px 5px white,0px 0px 30px 0px white;

}

.ware{
    display: grid;
    grid-template-columns: repeat(2,45%);
    grid-template-rows: repeat(5,15%);
    grid-gap: 2%;
    position: absolute;
    height: 100%;
    width: 100%;
    top:1%;
    left: 4%;

}
.ware>a{    padding: 10px;
    border: 1px solid white;
    background-color: silver;
    text-decoration: none;
    color: black;
    font-family: font1;
        box-shadow: inset 0px 0px 5px 0px white,  0px 0px 5px white,0px 0px 30px 0px white;
        transition: .2s linear;



}

.ware>a:hover{
    box-shadow: inset 0px 0px 200px white;
    transition: .2s linear;

}

.prod{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;

}
q1{
    height: 100%;
    width: 100%;
    position:absolute;
}
.q1>img{
    width: 90%;
    border:1px solid white;
    border-radius: 20% 20% 100% 100%;

}

.q2>h1{
    font-size: 30px;


}
.q2>span{
    margin-bottom: 0px;
}


.button>button{

    font-family: font1;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 8%;
    margin-left: 40%;
    width: 20%;
    height:40px;
    border:2px solid white;
    background-color: rgba(255,102,255,.1);
        box-shadow: inset 0px 0px 0px rgba(255,102,255,.5);
    transition: .4s linear;



}
.button>button:hover{

            box-shadow: 0px 0px 5px white,0px 0px 30px 0px white,inset 500px 0px 200px rgba(255,102,255,.5);

    transition: .4s linear;

}





