.preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background: rgba(245, 245, 220,1);
      z-index: 1001;
    }

    .preloader__image {
      position: relative;
      top: 50%;
      left: 50%;
      width: 256px;
      height: 256px;
      transform: translate(-50%,-50%);
      background: url("../images/preload.gif") no-repeat 50% 50%;
        background-size: contain;
    }

    .loaded_hiding .preloader {
      transition: .2s opacity;
      opacity: 0;
    }

    .loaded .preloader {
      display: none;
    }
