main{
    background-image: url(bghead2.png);
    height: 100vh;
    width: 100%;
    position:absolute;
    top:100vh;
    box-shadow: inset 0px 0px 5px 0px white,  0px 0px 5px white,0px 0px 30px 0px white;

}
.main{
    display: block;
    background-color: azure;
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 5%;
        box-shadow: inset 0px 0px 5px 0px white,  0px 0px 5px white,0px 0px 30px 0px white;

}
